/* Standard clearfix */
.clearfix:after
{
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix
{
	display: inline-block;
}

html[xmlns] .clearfix
{
	display: block;
}

* html .clearfix
{
	height: 1%;
}

.uComponents
{
	background: transparent url('<%= WebResource("uComponents.DataTypes.Shared.Resources.Images.ucomponents-logo-small.png")%>') no-repeat right 8px;
	padding-top: 40px;
}
.uComponents div.row
{
	margin-top: 5px;
	margin-bottom: 5px;
}
.uComponents div.label
{
	float: left;
	width: 120px;
	margin-right: 10px;
}
.uComponents div.field
{
	float: left;
}

.uComponents div.description
{
	clear: left;
	color: #666;
	float: left;
	font-style: italic;
	margin: 3px 0 10px 130px;
}

/* validation */
.uComponents .validator
{
	color: red;
	display: block;
	font-size: 11px;
	margin-bottom: 3px;
	margin-top: 3px;
	visibility: visible;
}

/* headers */
.uComponents h3
{
	clear: left;
	color: #666;
	float: left;
	font-style: italic;
	font-weight: bold;
	margin: 3px 10px 10px 0;
}

/* Tables */
.uComponents td
{
	font-weight: bold;
}
