*.csproj.user
*.suo
bin/
obj/
*.Cache
*_ReSharper.uComponents*
DLLs/*
#uComponents*
# TestResults/* (commented out)
/src/TestResults
uComponents.ncrunch*
uComponents.sln.DotSettings.user
uComponents.*.nupkg
uComponents_*.zip
._.hgignore
_UpgradeReport_Files/*
uComponents.sln.GhostDoc.user.dic
UpgradeLog.*
*.orig
*.ncrunchproject
_NCrunch_uComponents/uComponents.crunchsolution.cache
src/packages/*/**
BuildPackage/uComponents.*.zip
uComponents.sln.GhostDoc.xml

*.BASE.*
*.BACKUP.*
*.LOCAL.*
*.REMOTE.*