.xpath-auto-complete
{
    width: 625px;
}

.xpath-auto-complete ul
{
    list-style-type:none;
    float:right;
    margin-top:2px;
}

.xpath-auto-complete li
{   
    border:dotted 1px #DCD;
    width:298px;
    height:21px;
    line-height:21px;
    padding-left:5px;
    overflow:hidden;
    background-color:White;
    margin-bottom:3px;
    cursor:move;    
    
    font-family: Arial,Lucida Grande;
}

.xpath-auto-complete li:hover
{
    background-color:#F6F6FA;
}

.xpath-auto-complete li span
{
    display: block;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 270px;
}

.xpath-auto-complete li a
{
    background: transparent url('/umbraco/images/delete.gif') no-repeat 0px 3px;
    width:15px;
    height:15px;
    float:right;
    margin-right: 5px;
    margin-top:2px;
}

.xpath-auto-complete input
{
    width: 200px;
}

.xpath-auto-complete-widget.ui-menu {
    list-style: none;
    padding: 2px;
    margin: 0;
    display: block;
    float: left;
}

.xpath-auto-complete-widget.ui-autocomplete {
    position: absolute;
    cursor: default;
}

.xpath-auto-complete-widget.ui-corner-all {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.xpath-auto-complete-widget.ui-widget-content {
    border: 1px solid #dddddd;
    background: #eeeeee url(images/ui-bg_highlight-soft_100_eeeeee_1x100.png) 50% top repeat-x;
    color: #333333;
}

.xpath-auto-complete-widget.ui-menu .ui-menu-item {
    margin: 0;
    padding: 0;
    zoom: 1;
    float: left;
    clear: left;
    width: 100%;
}

.xpath-auto-complete-widget.ui-menu .ui-menu-item a {
    text-decoration: none;
    display: block;
    padding: .2em .4em;
    line-height: 1.5;
    zoom: 1;
}

.xpath-auto-complete-widget .ui-state-hover, 
.xpath-auto-complete-widget .ui-widget-content .ui-state-hover, 
.xpath-auto-complete-widget .ui-widget-header .ui-state-hover, 
.xpath-auto-complete-widget .ui-state-focus, 
.xpath-auto-complete-widget .ui-widget-content .ui-state-focus, 
.xpath-auto-complete-widget .ui-widget-header .ui-state-focus {
    border: 1px solid #CAC9C9;
    background: #D9D7D7 url('/umbraco_client/tabView/images/background.gif') 90% 10% repeat-x;
    color: #378080;
    font-weight: normal;
}