.TextstringArray
{
	clear: both;
	float: left;
	padding-bottom: 5px;
}
.TextstringArray .textstring-header-row
{
	clear: both;
	float: left;
	margin-bottom: 5px;
}
.TextstringArray .textstring-header-row .textstring-header-row-col
{
	float: left;
	font-weight: bold;
	margin: 0 5px 5px 0;
	width: 114px;
}
.TextstringArray .textstring-row
{
	clear: both;
	float: left;
	margin-bottom: 5px;
	width: 100%;
}
.TextstringArray .textstring-row .textstring-row-field
{
	float: left;
	margin: 0 5px 5px 0;
}
.TextstringArray .textstring-row .textstring-row-field input
{
	width: 110px;
}
.TextstringArray .textstring-row .textstring-row-edit
{
	float: left;
	padding: 4px 2px;
}
.TextstringArray .textstring-row .textstring-row-sort
{
	float: left;
	cursor: move;
	margin: 2px;
	padding-top: 2px;
	height: 18px;
	width: 16px;
}
.TextstringArray .textstring-row-placeholder
{
	clear: both;
	float: left;
	background-color: #FFEE99;
	margin-bottom: 5px;
}
