<?xml version="1.0" encoding="utf-8"?>
<DataTypeGrid>
  <CompatibleDataTypes>
    <!-- Label -->
    <add guid="6c738306-4c17-4d88-b9bd-6546f3771597"/>
    <!-- Numeric -->
    <add guid="1413afcb-d19a-4173-8e9a-68288d2a73b8"/>
    <!-- Simple Editor -->
    <add guid="60b7dabf-99cd-41eb-b8e9-4d2e669bbde9"/>
    <!-- Textstring -->
    <add guid="ec15c1e5-9d90-422a-aa52-4f7622c63bea"/>
    <!-- Media Picker -->
    <add guid="ead69342-f06d-4253-83ac-28000225583b"/>
    <!-- Approved Color -->
    <add guid="f8d60f68-ec59-4974-b43b-c46eb5677985"/>
    <!-- Checkbox List -->
    <add guid="b4471851-82b6-4c75-afa4-39fa9c6a75e9"/>
    <!-- Content Picker -->
    <add guid="158aa029-24ed-4948-939e-c3da209e5fba"/>
    <!-- Dropdown list multiple -->
    <add guid="928639ed-9c73-4028-920c-1e55dbb68783"/>
    <!-- Dropdown list multiple, publish keys -->
    <add guid="928639aa-9c73-4028-920c-1e55dbb68783"/>
    <!-- Dropdown -->
    <add guid="a74ea9c9-8e18-4d2a-8cf6-73c6206c5da6"/>
    <!-- Radiobutton List -->
    <add guid="a52c7c1c-c330-476e-8605-d63d3b84b6a6"/>
    <!-- Textbox Multiple -->
    <add guid="67db8357-ef57-493e-91ac-936d305e0f2a"/>
    <!-- True/False -->
    <add guid="38b352c1-e9f8-4fd8-9324-9a2eab06d97a"/>
    <!-- Member Picker -->
    <add guid="39f533e4-0551-4505-a64b-e0425c5ce775"/>
    <!-- Date Picker -->
    <add guid="23e93522-3200-44e2-9f29-e61a6fcbb79a"/>
    <!-- Date Picker with time -->
    <add guid="b6fb1622-afa5-4bbf-a3cc-d9672a442222"/>
    <!-- XPath CheckBoxList -->
    <add guid="34451d92-d270-49ba-8c7f-ee55bfeee1cb"/>
    <!-- XPath DropDownList -->
    <add guid="173a96ae-00ed-4a7c-9f76-4b53d4a0a1b9"/>
    <!-- uComponents: Character Limit -->
    <add guid="b8a9a4e8-73f8-4f4a-a1ee-3f64053654b3"/>
    <!-- uComponents: URL Picker -->
    <add guid="22C6F52C-5D41-45B8-845E-C16354CFDD7B"/>
    <!-- uComponents: Country Picker -->
    <add guid="bf1a6031-dba9-4249-9baa-9124974eb09d"/>
    <!-- uComponents: Incremental Textbox -->
    <add guid="f231cd8a-e447-424a-94a4-bc73b11736bb"/>
    <!-- uComponents: File Picker -->
    <add guid="318a9c2e-3966-4979-8c1d-575c5d5f669b"/>
    <!-- uComponents: File DropDownList -->
    <add guid="6a702da8-860a-4d02-a31c-c52dd7b3e82f"/>
    <!-- uComponents: Enum DropDownList -->
    <add guid="c9cd82e1-fb32-4666-a571-9abd70f76987"/>
    <!-- uComponents: Enum CheckBoxList -->
    <add guid="28AF3D8B-2568-4877-B61B-BC91B1237932"/>
    <!-- uComponents: Elastic Textbox -->
    <add guid="bcefa37d-ec56-4bf2-a68c-aa9c8077227b"/>
    <!-- uComponents: DropdownChecklist -->
    <add guid="ce64d6fe-b051-4c44-ad20-676b2535194a"/>
    <!-- uComponents: XPath Autocomplete -->
    <add guid="6905f13e-829d-4827-9b9f-72d5a00e7a9e"/>
  </CompatibleDataTypes>
</DataTypeGrid>