/*
 *  DATA EDITOR TABLE
 */
 
.ui-widget-overlay 
{
	position: absolute;
	left: 0;
	top: 0;
	background: url("/umbraco_client/modal/modalBackground.gif") repeat 0 0 transparent;
}

.dtg .ui-corner-all,
.dtg .ui-corner-tl,
.dtg .ui-corner-tr,
.dtg .ui-corner-bl,
.dtg .ui-corner-br {
	border-radius: 0;
}

.dtg .ui-state-default {
	color: #333333 !important;
}

.dtg .ui-button {
	color: #378080;
	border: 1px solid #cccccc;
	background: #eeeeee url('/umbraco_client/propertypane/images/propertyBackground.gif') 50% 50% repeat-x;
}

.dtg .ui-button:hover {
	color: #333333;
	border: 1px solid #999999;
	background: #378080 url('/umbraco_client/propertypane/images/propertyBackground.gif') left top repeat-x;
}

.dtg .ui-button:active {
	color: #333333;
	border: 1px solid #999999;
	background: #D4D4D4;
}

.dtg .ui-button:active .ui-icon {
	background-image: url('/umbraco_client/DateTimePicker/images/ui-icons_666666_256x240.png');
}

.dtg .ui-button.ui-state-disabled {
	color: #333333;
}

.dtg .ui-button.ui-state-disabled:hover {
	color: #333333;
	border: 1px solid #cccccc;
	background: #eeeeee url('/umbraco_client/propertypane/images/propertyBackground.gif') 50% 50% repeat-x;
}

.dtg .ui-button.ui-state-disabled:active {
	color: #333333;
	border: 1px solid #cccccc;
	background: #eeeeee url('/umbraco_client/propertypane/images/propertyBackground.gif') 50% 50% repeat-x;
}

.dtg .ui-button.ui-state-disabled:active .ui-icon {
	background-image: url('/umbraco_client/DateTimePicker/images/ui-icons_999999_256x240.png');
}

.dtg .ui-button .ui-button-text {
	padding-bottom: 0.3em;
}

.dtg .ui-button-icon-only {    
	height: 1.4em;
	width: 1.4em;
}

.dtg .ui-icon
{
	width: 16px;
	height: 16px;
	background-image: url('/umbraco_client/DateTimePicker/images/ui-icons_999999_256x240.png');
}

.dtg .ui-state-hover .ui-icon, 
.dtg .ui-state-focus .ui-icon
{
	background-image: url('/umbraco_client/DateTimePicker/images/ui-icons_666666_256x240.png');
}

.dtg .dataTables_wrapper 
{
	position: relative;
	clear: both;
	margin: 0 0 1em 0;
}

.dtg .ui-toolbar 
{
	padding: 5px;
}

.dtg .ui-widget-header
{
	border: 1px solid #CAC9C9;
	background: #D9D7D7 url('/umbraco_client/tabView/images/background.gif') 90% 10% repeat-x;
	color: #378080;
	font-weight: bold;
}

.dtg .ui-widget-header a
{
	color: #ffffff;
}

.dtg .dataTables_processing 
{
	position: absolute;
	top: 0px;
	left: 50%;
	width: 250px;
	margin-left: -125px;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 11px;
	padding: 2px 0;
}

.dtg .dataTables_empty 
{
	text-align: center;
}

.dtg .dataTables_scroll 
{
	clear: both;
}

.dtg .dataTables_length 
{
	width: 50%;
	float: left;
}

.dtg .dataTables_filter 
{
	width: 50%;
	float: right;
	text-align: right;
}

.dtg .dataTables_info 
{
	padding-top: 3px;
	min-width: 140px;
	float: left;
}

.dtg .dataTables_paginate 
{
	width: 350px !important;
	float: right;
	text-align: right;
}

.dtg .paging_full_numbers 
{
	line-height: 1.4em;
}

.dtg .paging_full_numbers .ui-button 
{
	padding: 2px 6px;
	margin: 0 1px;
	cursor: pointer;
}

.dtg .paging_full_numbers .ui-button:hover
{
	text-decoration: none;
}

.dtg table.display {
	table-layout: fixed;
	width: 100% !important;
	min-width: 500px;
	clear: both;
	border-collapse: collapse;
}

.dtg table.display thead th 
{
	padding: 4px 0 3px 10px;
	cursor: pointer;
	color: #333333;
}

.dtg table.display thead th .ui-icon {
	margin-top: -2px;
}

.dtg table.display td {
	padding: 3px 10px;
}

.dtg table.display td.center {
	text-align: center;
}

.dtg tr.odd {
	background-color: #f5f3f3;
}

.dtg tr.even {
	background-color: white;
}

.dtg .css_left
{
	float: left;
}

.dtg .css_right
{
	float: right;
}

/*
 ** DATA EDITOR CONTROLS
 */
 
.dtg .actions .ui-button
{
	display: inline-block;
	margin: 1px 1.5px;
}
 
.dtg .actions .ui-button span.ui-button-text
{
	display: none;
}

.dtg .actions .ui-button .ui-icon-arrowthick-1-n
{
	background-position: 1px -48px;
}

/*
** Dialog
*/

.dtg-dialog
{
	border: 5px solid #A3A3A3 !important;
	border-radius: 0;
	overflow: visible !important;
	padding: 0;
	background: white;
	color: #333333;
}

.dtg-dialog .ui-widget-content
{
	background: white;
	color: #333333;
}

.dtg-dialog .ui-widget-content a
{
	color: #333333;
}

.dtg-dialog .ui-corner-all
{
	border-radius: 0;
} 

.dtg-dialog .ui-dialog-titlebar
{
	position: relative;
	cursor: move;
	background: white url("/umbraco_client/modal/modalGradiant.gif") left bottom repeat-x;
	color: #378080;
	border-top: none;
	border-right: none;
	border-bottom: 1px solid #CCCCCC;
	border-left: none;
	font-size: 11px;
	text-shadow: #FFF 0 1px 0;
	padding: .5em 2em .5em .75em;
	margin: 0;
	text-align: left;
}

.dtg-dialog .ui-dialog-titlebar .ui-dialog-title
{
	margin-top: 0;
	margin-left: 0;
}

.dtg-dialog .ui-dialog-titlebar-close
{
	position: absolute;
	top: 4px;
	right: 4px;
	border: 1px solid #999;
	padding: 0;
	margin: 0;
}

.dtg-dialog .ui-dialog-titlebar-close:hover {
	color: #333333;
	border: 1px solid #999999;
	background: #378080 url('/umbraco_client/propertypane/images/propertyBackground.gif') left top repeat-x;
}

.dtg-dialog .ui-dialog-titlebar-close:active {
	color: #333333;
	border: 1px solid #999999;
	background: #D4D4D4;
}

.dtg-dialog .ui-dialog-titlebar-close:active .ui-icon {
	background-image: url('/umbraco_client/DateTimePicker/images/ui-icons_666666_256x240.png');
}

.dtg-dialog .ui-resizable-handle
{
	position: absolute;
	bottom: 3px;
	right: 3px;
	cursor: se-resize;
}

.dtg-dialog .ui-dialog-buttonpane
{
	background: none;
	border: none;
	padding: 5.5px 11px;
}

.dtg-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: none;
	padding-bottom: 5.5px;
}

.dtg-dialog .ui-dialog-content .controls
{
	margin: 0;
	padding: 0;
	list-style: none;
}

.dtg-dialog .ui-dialog-content .control
{
	display: block;
	margin-bottom: 7px;
	width: 410px;
}

.dtg-dialog .ui-dialog-content .control-label
{
	display: block;
	width: 16%;
	padding-right: 1%;
	font-weight: bold;
	font-size: 12px;
}

.dtg-dialog .ui-dialog-content .validator 
{
	font-size: 11px;
	font-weight: normal;
	color: Red;
}


/*
**  DataType Fixes
 */
 
/* Date Picker with Time */
.ui-datepicker {
	z-index: 1003 !important;
}